.game-card_trait_selection {

    >.gb-panel {
        >.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.category {
                width: 100%;
                margin-bottom: 20px;
                &.last { margin-bottom: 40px; }

                >.title { margin-bottom: 10px; }
                
                >.traits {
                    width: 100%;

                    >.row {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        
                        >.trait {
                            width: 120px;
                            display: flex;
                            flex-direction: row;
                            
                            >.name {

                            }
                        }
                    }
                }
            }

            >.action {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}