.game-custom_card_creation {

    >.gb-panel {
        width: 400px;

        >.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.card {
                width: 100%;
                margin-bottom: 20px;
                display: flex;
                justify-content: space-around;

                >.type {
                    display: flex;
                }
            }
    
            >.template {
                width: 300px;
                height: 418px;
                margin-bottom: 40px;
                position: relative;

                &.character { 
                    background-image: url( "./resources/images/game/card/custom/character.png" ); 

                    >.title {
                        width: 190px;
                        height: 24px;
                        position: absolute;
                        left: 62px;
                        top: 16px;
                        padding-left: 3px;
                        padding-right: 3px;
                        text-align: center;
                    }

                    >.glory {
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        left: 254px;
                        top: 247px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    >.traits {
                        width: 270px;
                        height: 19px;
                        position: absolute;
                        left: 13px;
                        top: 273px;   
                        padding-left: 3px;
                        padding-right: 3px;
                        font-weight: bold;
                        text-align: center;
                    }

                    >.text {
                        width: 270px;
                        height: 102px;
                        position: absolute;
                        left: 13px;
                        top: 293px;   
                        resize: none;
                        overflow-y: hidden;
                    }
                }
              
                &.attachment { 
                    background-image: url( "./resources/images/game/card/custom/attachment.png" ); 
                
                    >.title {
                        width: 190px;
                        position: absolute;
                        top: 241px;
                        left: -66px;
                        padding-left: 3px;
                        padding-right: 3px;
                        transform: rotate(-90deg);
                        text-align: center;
                    }

                    >.traits {
                        width: 226px;
                        height: 19px;
                        position: absolute;
                        left: 56px;
                        top: 273px;   
                        padding-left: 3px;
                        padding-right: 3px;
                        font-weight: bold;
                        text-align: center;
                    }

                    >.text {
                        width: 226px;
                        height: 102px;
                        position: absolute;
                        left: 56px;
                        top: 293px;   
                        resize: none;
                        overflow-y: hidden;
                    }
                }

                >.cost {
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    left: 18px;
                    top: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                >.military {
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    left: 18px;
                    top: 71px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                >.political {
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    left: 18px;
                    top: 112px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            >.action {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}