.game-discarded_card_selection {

    >.gb-panel {
        width: 400px;

        >.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.side {
                width: 100%;
                margin-bottom: 20px;
                display: flex;
                justify-content: space-around;

                >.type {
                    display: flex;
                }
            }
    
            >.list {
                width: 100%;
                height: 202px;
                overflow-x: none;
                overflow-y: auto;
                margin-bottom: 40px;
                border: 1px solid dimgray;
    
                >.item {
                    height: 40px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid dimgray;
    
                    &:nth-of-type(odd) {
                        background-color: #e1cece;
                    }
    
                    &:nth-of-type(even) {
                        background-color: #d7c4c4;
                    }
    
                    &:hover, &.selected {  
                        background-color: darkblue;
                        color: white;
                    }
                }
            }

            >.action {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}