.game-game_preferences {

    >.window {
        width: 500px;
        min-height: 200px;

        >.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.settings {
                width: 100%;
                margin-bottom: 40px;

                >.section { 
                    margin-bottom: 10px; 
                    font-weight: bold;
                }

                >.row {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-left: 20px;

                    &:not(:last-of-type) { margin-bottom: 10px; }

                    >.title {
                        width: 70%;
                    }

                    >.card_preview_side {    
                        display: flex;
                        width: 40%;
                        justify-content: space-around;
                    }

                    >input { width: 20%; }
                }
            }

            >.back {
                align-self: flex-start;
            }
        }
    }
}