.game-key_binding {
    
    >.window {
        width: 300px;

        >.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.section {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;

                &:last-of-type {
                    margin-bottom: 40px;
                }
            }
        }  
    }
}