.game-opponent_rating {
    
    >.window {
        width: 250px;

        >.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.description {
                width: 100%;
                margin-bottom: 20px;
                text-align: center;
            }

            >.rate {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin-bottom: 40px;

                >button {
                    width: 50px;
                    height: 50px;
                    border: none;
                    background-size: contain;
                    background-color: transparent;
                    background-repeat: no-repeat;

                    &.good { background-image: url("./resources/images/gateway/good.png"); }
                    &.bad { background-image: url("./resources/images/gateway/bad.png"); }
                }
            }
        }  
    }
}