.game-phase_diagram {

    >.gb-panel {
        width: 80%;
        max-width: 1156px;

        >.content {
            width: 100%;
            height: 100%;
            padding: 10px;
            overflow: auto;

            >.auto_skip {
                width: 200px;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-content: center;
                &:not(:last-of-type) { margin-right: 20px; }

                >.title { margin-left: 5px; }
            }
            
            >.primary_wrapper {
                width: 100%;
                height: 100%;

                >.primary {
                    width: 1080px;
                    margin-top: 48px;
                    display: flex;
                    display: -webkit-box;
                    flex-direction: row;
                    align-items: center;

                    >.phase {
                        width: 120px;
                        height: 50px;
                        position: relative;
                        border: 1px solid black;
                        border-radius: 5px;
                        background-color: mintcream;
                        &.current { background-color: mistyrose; }

                        >.text {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        >.arrow {
                            position: absolute;
                            height: 40px;

                            &.from_refresh {
                                left: 49px;
                                top: -49px;
                                transform: scaleX(-1);
                            }

                            &.to_resource {
                                left: -128px;
                                top: -49px;
                            }
                        }

                        >.configure {
                            display: flex;
                            flex-direction: row;
                            position: absolute;
                            bottom: -27px;
                            padding: 3px;
                            border: 1px solid black;
                            background-color: mintcream;

                            >button {
                                width: 15px;
                                height: 15px;
                                position: relative;
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-color: transparent;
                                background-position: center;
                                border: none;

                                &.add { background-image: url("./resources/images/game/card_token/token/resource.png"); }
                                &.draw { background-image: url("./resources/images/game/card/back/player.jpg"); }
                                &:not(:last-of-type) { margin-right: 3px; }

                                &.skip>.skip {
                                    display: block;
                                }

                                >.skip { 
                                    width: 10px; 
                                    display: none;
                                    position: absolute;
                                    bottom: -2px;
                                    right: -2px;
                                    pointer-events: none;
                                }
                            }
                        }

                        >button {
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            background-size: cover;
                            background-color: transparent;
                            border: none;

                            &.detail {
                                right: 5px;
                                bottom: 5px;
                                &.more { background-image: url("./resources/images/game/icon/more.png"); }
                                &.less { background-image: url("./resources/images/game/icon/less.png"); }
                            }

                            &.jump {
                                right: 5px;
                                top: 5px;
                                background-image: url("./resources/images/game/icon/jump_to.png");

                                &:disabled { opacity: 0.4; }
                            }

                            &.play {
                                left: 5px;
                                bottom: 5px;
                                background-image: url("./resources/images/game/icon/ok.png");

                                &.skip { background-image: url("./resources/images/game/icon/cancel.png"); } 
                            }
                        }
                    }

                    >.arrow { 
                        width: 50px; 
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }

            >.secondary {
                width: 1080px;
                display: flex;
                display: -webkit-box;
                flex-direction: row;

                >.breakdown {
                    width: 120px;
                    display: flex;
                    flex-direction: column;

                    &:not(:first-of-type) { margin-left: 70px; }

                    >.subphase {
                        width: 120px;
                        height: 50px;
                        position: relative;
                        border: 1px solid black;
                        border-radius: 5px;
                        background-color: mintcream;                   
                        &.current { background-color: mistyrose; }
    
                        >.text {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            padding: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                        }

                        >button {
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            background-size: cover;
                            background-color: transparent;
                            border: none;
    
                            &.play {
                                left: 5px;
                                bottom: 5px;
                                background-image: url("./resources/images/game/icon/ok.png");

                                &.skip { background-image: url("./resources/images/game/icon/cancel.png"); }
                            }
                        }

                        >.configure {
                            display: flex;
                            flex-direction: row;
                            position: absolute;
                            bottom: -27px;
                            padding: 3px;
                            border: 1px solid black;
                            background-color: mintcream;

                            >button {
                                width: 15px;
                                height: 15px;
                                position: relative;
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-color: transparent;
                                background-position: center;
                                border: none;

                                &.draw_encounter { background-image: url("./resources/images/game/card/back/sauron.jpg"); }
                                &:not(:last-of-type) { margin-right: 3px; }

                                &.skip>.skip {
                                    display: block;
                                }

                                >.skip { 
                                    width: 10px; 
                                    display: none;
                                    position: absolute;
                                    bottom: -2px;
                                    right: -2px;
                                    pointer-events: none;
                                }
                            }
                        }
                    }

                    >.arrow_wrapper {
                        display: flex;
                        flex-direction: column;

                        >.arrow { 
                            height: 20px;
                            margin-top: 5px;
                            margin-bottom: 5px;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}