.common-player_profile {
    
    >.window {
        width: 800px;

        >.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.detail {
                width: 100%;
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;

                >.karma>.current {
                    &.good { color: green; }
                    &.bad { color: red; }
                }

                >.separator {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }

            >.history {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;

                >.title { margin-bottom: 10px; }

                >.summary {
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: row;;
                    align-items: center;

                    >img { 
                        width: 20px; 
                        margin-left: 5px;
                    }

                    >.game_count { margin-left: 5px; }
                    >.victory_count { margin-left: 30px; }
                    >.defeat_count { margin-left: 10px; }
                }

                >.table {
                    width: 100%;

                    >.header { 
                        height: 40px;
                        display: flex;
                        flex-direction: row;
                        background-color: rgb(206, 214, 224);

                        >div { 
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    >.body_wrapper {
                        width: 100%;
                        height: 320px;
                        overflow-y: auto;                         

                        >.body>.row {
                            width: 100%;
                            height: 40px;
                            display: flex;
                            flex-direction: row;

                            /*&:nth-child(odd) { background-color: rgba(219, 191, 191, 0.85); }
                            &:nth-child(even) { background-color: rgba(225, 206, 206, 0.85); }*/
                            &:nth-child(odd) {
                                background-color: #e1cece;
                            }
            
                            &:nth-child(even) {
                                background-color: #d7c4c4;
                            }

                            >div { 
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }

                    >.header, >.body_wrapper>.body>.row {
                        >.when { width: 10%; }
                        >.encounter_set { width: 30%; }
                        >.scenario { width: 30%; }
                        >.player, >.ally { 
                            width: 15%; 
                            display: flex;

                            >.name { 
                                max-width: 100px;
                            }

                            >.deck {
                                width: 30px;
                                margin-left: 5px;
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-image: url("./resources/images/gateway/detail.png");
                            }
                        }
                    }
                }
            }

            >.back { align-self: flex-start; }
        }  
    }
}