.game-victory {
    
    >.window {
        width: 800px;
        background-size: cover;
        background-position: center;
        background-image: url("./resources/images/game/victory/view_bg.jpg");

        >.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .black { color: black !important; }

            >.title { 
                font-size: 40px;
            }

            >.round {
                margin-bottom: 20px; 
            }

            >.final_score {
                width: 100%;
                height: 60px;
                padding-top: 7px;
                margin-bottom: 10px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("./resources/images/game/victory/score_bg.png");
                filter: drop-shadow(2px 2px 2px black);

                >.wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    >.player_count { 
                        height: 24px;
                        margin-right: 10px;
                        object-fit: contain; 
                        filter: drop-shadow(2px 2px 2px black);
                    }

                    >.value { font-size: 30px;}
                }
            }

            >.scenario { 
                width: 368px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 20px; 
                border: 1px solid black;
                border-radius: 10px;
                box-shadow: black 5px 5px 10px;
                background: linear-gradient(0deg, rgba(206,214,224,0.85) 0%, rgba(2,0,36,1) 100%);

                &.nightmare {
                    background: linear-gradient(0deg, rgba(139,0,0,0.85) 0%, rgba(0,0,0,1) 100%);
                }

                >img { 
                    height: 160px; 
                    filter: drop-shadow(2px 2px 2px black);
                }

                >.detail {
                    width: 208px;

                    >.title {
                        text-indent: -20px;
                        padding-left: 20px;
                        text-align: left; 
                    }

                    >.set { 
                        margin-bottom: 20px;
                        color: white;
                        margin-left: 30px;
                     }

                    >.best_score { 
                        display: inline-flex;       
                        flex-direction: column;
                        border: 1px solid white;
                        border-radius: 5px;
                        padding: 10px;
                        background-color: rgba(206, 214, 224, 0.9);

                        >.single_player, >.multiplayer {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            &:not(:last-child) { margin-bottom: 4px; }

                            >.player_count, >.player_count {
                                height: 20px;   
                                width: 26px;
                                margin-right: 5px;
                                object-fit: contain; 
                                filter: drop-shadow(2px 2px 2px black);
                            }

                            >.separator { 
                                margin-left: 5px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }

            >.score {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;

                >.table {
                    width: 100%;

                    >.header { 
                        height: 40px;
                        display: flex;
                        flex-direction: row;
                        background-color: rgba(206, 214, 224, 0.9);

                        >div { 
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                        }
                    }                      

                    >.body>.row {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        flex-direction: row;

                        &:nth-child(odd) {
                            background-color: rgba(225, 206, 206, 0.9);
                        }
        
                        &:nth-child(even) {
                            background-color: rgba(215, 196, 196, 0.9);
                        }

                        >div { 
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    >.header, >.body>.row {
                        >.player { width: 18%; }
                        >.threat_level { width: 18%; }
                        >.plus { width: 5%; }
                        >.threat_cost { width: 18%; }
                        >.damage_tokens { width: 18%; }
                        >.equals { width: 5%; }
                        >.subtotal { width: 18%; }
                    }
                }
    
                >.footer {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;

                    >.modifiers {
                        display: flex;
                        flex-direction: column;

                        >.row {
                            height: 40px;
                            display: flex;
                            flex-direction: row;
                            align-self: flex-end;

                            >.title {
                                width: 213px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: rgba(206, 214, 224, 0.9);
                            }

                            >.value {
                                width: 137px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            &.victory>.value {
                                background-color: rgba(225, 206, 206, 0.9);
                            }

                            &.points_x_round>.value {
                                background-color: rgba(215, 196, 196, 0.9);
                            }
                        }
                    }    
                }
            }
        }  
    }
}