.gateway-login-register {
    
    >.window {
        width: 340px;

        >.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.username, >.password, >.repassword, >.email {
                width: 100%;
                height: 100%;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;

                >.title {
                    margin-bottom: 10px;
                    align-self: flex-start;
                }

                >input {
                    width: 100%;
                    align-self: flex-start;
                }
            }

            >.email { margin-bottom: 40px; }

            >.actions {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }  
    }
}