.gateway-deck-deck_creation {
    
    >.window {
        width: 376px;

        >.content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.section {
                width: 100%;
                align-self: flex-start;

                &.deck>input {
                    width: 100%;
                    margin-bottom: 20px;
                }

                &.rings_db {
                    margin-bottom: 40px;

                    >.header {
                        margin-bottom: 10px;
                        display: flex;

                        >.how {
                            width: 24px;
                            height: 20px;
                            margin-left: 10px;
                        }
                    }
            
                    >.link {
                        width: 100%;
                    }

                    >.text {
                        width: 100%;
                        height: 200px;
                        padding: 10px;
                        overflow-y: auto;
                        resize: none;
                    }
                }

                >.title {
                    margin-bottom: 10px;
                }
            }

            >.actions {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }  
    }
}