.gateway-deck-deck_detail {
    
    >.window {
        min-width: 500px;

        >.content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.list {
                width: 100%; 
                margin-bottom: 40px;
                max-height: 300px;
                overflow: auto;

                >.section {
                    width: 100%; 
                    &:not(:first-of-type) { margin-top: 10px };

                    >.title { font-weight: bold; }

                    ul { 
                        margin-top: 5px; 
                        margin-bottom: 0px; 
                    }
                }
            }

            >.back { align-self: flex-start; }
        }  
    }
}