.common-campaign_log-add_row {

    >.window {
        box-shadow: black 0px 0px 10px;

        >.content {
            >.title { margin-bottom: 20px; }

            >.controls {
                margin-bottom: 40px;
                display: flex;
                flex-direction: row;
                align-items: center;

                >.section {
                    >.title { margin-bottom: 10px; }
                    >.value {
                        position: relative;
                        
                        >.option_list { 
                            width: 100%;
                            max-height: 140px;
                            position: absolute;
                            top: 100%;
                            left: 0px;
                            overflow-y: auto;

                            >.row {
                                width: 100%;
                                height: 35px;
                                padding: 10px;
                                pointer-events: auto;
                                background-color: white;

                                &:not(:last-of-type) { border-bottom: 1px gray solid; }
                                &:hover {
                                    background-color: #5352ed;
                                    color: white;
                                }
                            }
                        }
                    }
                }

                >.second { 
                    display: none; 
                    margin-left: 20px;
                }
                &.double>.second { display: revert; }
            }
        }
    }
}