.game-card_token-custom_text_edition {

    >.gb-panel {
        width: 400px;

        >.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.text {
                width: 100%;
                height: 100px;
                margin-bottom: 40px;
                resize: none;
            }

            >.action {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}