.game-card_token-custom_counter_edition {

    >.gb-panel {
        width: 400px;

        >.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.section {
                width: 100%;
                margin-bottom: 20px;
                align-self: flex-start;

                &.last { margin-bottom: 40px; }

                >.title {
                    align-self: flex-start;
                    margin-bottom: 10px;
                }

                >.text {
                    width: 100%;
                }

                >.selection {
                    display: flex;
                    >input:not(:first-of-type) { margin-left: 20px; }
                }

                >.icon {
                    >.row {
                        display: flex;
                        justify-content: center;

                        &:first-of-type { margin-bottom: 10px; }

                        >img { 
                            width: 60px;
                            object-fit: contain;
                            &:not(:first-of-type) { margin-left: 5px; }

                            &.selected { filter: drop-shadow(2px 2px 5px black); }
                        }
                    }
                }
            }

            >.action {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}