.game-victory-save_campaign_log {
    
    >.window {
        width: 340px;

        >.content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.section {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                &:last-of-type { margin-bottom: 40px; }

                >.title {
                    margin-bottom: 10px;
                    align-self: flex-start;
                }
            
                &.new>input { width: 100%; }

                &.overwrite>.list {
                    height: 200px;
                    border: 1px solid dimgray;
                    background-color: #ced6e0;

                    >.item {
                        width: 100%;
                        height: 40px;
                        padding: 5px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        background-color: #e1cece;

                        &:not(:nth-of-type(5)) { border-bottom: 1px solid dimgray; }

                        >.title { flex-grow: 1; }

                        >.created {
                            flex-shrink: 0;
                            margin-left: 10px;
                        }

                        >.detail {
                            width: 30px;
                            height: 30px;
                            flex-shrink: 0;
                            margin-left: 10px;
                            border: none;
                            background-color: transparent;
                            background-image: url("./resources/images/gateway/detail.png");
                            background-size: contain;
                            background-repeat: no-repeat;
                        }

                        >.remove {
                            width: 30px;
                            height: 30px;
                            margin-left: 10px;
                            flex-shrink: 0;
                            border: none;
                            background-size: contain;
                            background-color: transparent;
                            background-image: url("./resources/images/gateway/remove.png");
                        }

                        &:not(:hover)>.remove, &:not(:hover)>.detail { display: none; }

                        &.selected {
                            background-color: #5352ed;
                            
                            >div { color: white; }
                        }
                    }
                }
            }

            >.actions {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }  
    }
}