.common-popup-info_message
{
	>.popup {
		max-width: 500px;
		display: flex;
		flex-direction: column;
		align-items: center;

		>.message {
			text-align: center;
		}

		>.controls {
			width: auto;
			height: 40px;
			margin-top: 20px;
			display: flex;
			flex-direction: row;
			align-items: center;

			>button {
				margin: 10px;
			}
		}

		>.countdown {
			width: 100%;
			margin-top: 20px;
			text-align: center;
			font-weight: bold;
		}
	}
}