.gateway-game_room-campaign_log_detail {

    >.window {
        >.content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }
        }
    }
}