.gb-popup-bg {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: transparent;
}

.gb-popup-dark-bg {
	@extend .gb-popup-bg;
	background-color: rgba(62, 62, 62, 0.4);
}

.gb-popup-centered {
	position: fixed;
	top: 50%;
	left: 50%;
    transform: translateX( -50% ) translateY( -50% );
}