@font-face {
    src: url("../resources/fonts/Roboto-Regular.ttf");
    font-family: myRoboFont;
    font-display: swap;
}

@font-face {
    src: url("../resources/fonts/Roboto-Bold.ttf");
    font-family: myRoboFont;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    src: url("../resources/fonts/Roboto-Italic.ttf");
    font-family: myRoboFont;
    font-style: italic;
    font-display: swap;
}

@font-face {
    src: url("../resources/fonts/Roboto-BlackItalic.ttf");
    font-family: myRoboFont;
    font-style: italic;
    font-weight: bold;
    font-display: swap;
}

.gb-text-header-large {
    font-family: myRoboFont;
    font-size: 24px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6), 2px 0px 2px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(22, 21, 19, 0.8);
}

.gb-text-header-normal {
    font-family: myRoboFont;
    font-size: 18px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6), 2px 0px 2px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(22, 21, 19, 0.8);
}

.gb-text-body-normal {
    font-family: myRoboFont;
    font-size: 14px;
    font-weight: normal;
    color: dimgrey;
    letter-spacing: 1px;
}

.gb-text-body-small {
    font-family: myRoboFont;
    font-size: 10px;
    font-weight: normal;
    color: dimgrey;
    letter-spacing: 1px;
}

.gb-text-outline {
    text-shadow: -1px 0px 1px black, 0px 1px 1px black, 1px 0px 1px black, 0px -1px 1px black;
}

.gb-text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6), 2px 0px 2px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(22, 21, 19, 0.8);
}

.gb-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}