.common-campaign_log {

    >.window {
        >.content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.page {
                width: 800px;

                &.first {
                    >.title { margin-bottom: 10px; }
                    >.top { 
                        width: 100%;
                        margin-bottom: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }

                &.second {
                    margin-bottom: 4px;
                    display: flex;
                    flex-direction: row;

                    >.left, >.right { 
                        width: 50%; 

                        >.title { margin-bottom: 10px; }
                    }

                    >.left { margin-right: 20px; }
                }

                .header {
                    width: 100%;
                    height: 40px;
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    background-color: rgb(206, 214, 224);

                    &.scenario { width: 80%; }
                    &.score { 
                        width: 20%; 
                        margin-left: 5px;
                        justify-content: flex-end;
                    }
                    &.boons, &.burdens { width: 60%; }
                    &.hero { 
                        width: 40%;
                        margin-left: 5px; }

                    >.add {
                        width: 30px;
                        height: 30px;
                        border: none;
                        background-image: url( "./resources/images/gateway/add.png" );    
                        background-size: contain;
                        background-color: transparent;
                    }
                }

                .header_wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }

                .footer, .split_footer {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    color: black;

                    >.value { font-weight: bold; }
                }

                .footer, .split_footer>.left, .split_footer>.right  {
                    padding: 10px;
                    background-color: rgb(206, 214, 224);
                }

                .split_footer>.right { margin-left: 5px; }

                .list_wrapper {
                    width: 100%;
                    overflow-y: auto;  

                    .list>.row, .list>.split_row {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }

                    .list>.row, .list>.split_row>.left {
                        >.title { flex-grow: 1; }

                        >.remove {
                            width: 30px;
                            height: 30px;
                            flex-shrink: 0;
                            margin-left: 5px;
                            border: none;
                            background-color: transparent;
                            background-image: url("./resources/images/gateway/remove.png");
                            background-repeat: no-repeat;
                            background-size: contain;
                        }

                        &:not(:hover)>.remove { display: none; }
                    }


                    >.list>.row {
                        padding: 10px;

                        &:nth-child(odd) {
                            background-color: #e1cece;
                        }
        
                        &:nth-child(even) {
                            background-color: #d7c4c4;
                        }
                    }

                    >.list>.split_row {

                        >.left, >.right { 
                            height: 100%;
                            padding: 10px; 
                        }

                        >.left {
                            flex-direction: row;
                            display: flex;
                            align-items: center;
                        }

                        >.right {
                            margin-left: 5px;
                        }

                        &:nth-child(odd) {
                            >.left, >.right {
                                background-color: #e1cece;
                            }
                        }
        
                        &:nth-child(even) {
                            >.left, >.right {
                                background-color: #d7c4c4;
                            }
                        }
                    }
                }

                .section { 
                    width: 100%; 

                    &.player, &.ally, &.fallen {
                        >.header, >.list_wrapper>.list, >.footer { width: 230px; }
                    }
                
                    &.player, &.ally, &.fallen {
                        width: 33.3%;

                        >.list_wrapper { height: 160px; }
                    }

                    &.ally { margin-left: 20px; }

                    &.fallen { margin-left: 20px; }

                    &.threat_penalty { 
                        margin-bottom: 20px; 

                        >.header_wrapper>.header.threat_penalty_value { 
                            width: 120px; 
                            margin-left: 5px;

                            >input {
                                width: 100%;
                                text-align: right;
                                background-color: transparent;
                                font-weight: bold;
                            }
                        }
                    }

                    &.notes>textarea { 
                        height: 120px; 
                        width: 100%;
                        padding: 10px;
                        overflow-y: auto;
                        resize: none;
                    }

                    &.scenarios {
                        >.header_wrapper { width: 365px; }

                        >.list_wrapper { 
                            height: 360px; 

                            >.list {
                                width: 365px;

                                >.split_row {
                                    >.left { width: 80%; }
    
                                    >.right {
                                        width: 20%;
                                        text-align: right;
                                    }
                                }
                            }
                        }

                        >.split_footer {
                            width: 365px;

                            >.left { width: 80%; }

                            >.right {
                                width: 20%;
                                text-align: right;
                            }
                        }
                    }

                    &.boons { margin-bottom: 20px; }

                    &.boons, &.burdens {
                        >.header_wrapper { width: 365px; }

                        >.list_wrapper {
                            height: 160px; 
    
                            >.list {
                                width: 365px;

                                >.split_row {
                                    >.left { width: 60%; }
                                    >.right { width: 40%; }
                                }
                            }
                        }
                    }
                }
            }

            >.page_navigation {
                width: 215px;
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                >.previous, >.next {
                    width: 40px;
                    height: 40px;
                    border: none;
                    background-image: url( "./resources/images/gateway/prev_btn.png" );    
                    background-size: contain;
                    background-color: transparent;

                    &.invisible { visibility: hidden; }
                }

                >.next {
                    transform: scaleX(-1);
                }

                >.title { 
                    width: 100px;
                    text-align: center;
                }
            }

            >.close { margin-top: 40px; }
        }

        >.add_row { 
            position: absolute; 

            &.player_hero {
                top: 95px;
                left: 270px;
            }
        
            &.ally_hero {
                top: 95px;
                left: 545px;
            }

            &.fallen_hero {
                top: 95px;
                right: 295px;
            }

            &.boon {
                top: 70px;
                right: 435px;
            }

            &.burden {
                top: 305px;
                right: 435px;
            }
        }

        .black { color: black; }
    }
}