.common-full_screen {
    position: fixed;
    bottom: 0px;
    right: 0px;

    >button {
        width: 20px;
        height: 20px;
        padding: 1px;
        border-radius: 3px;
        border: 1px solid black;
        background-color: #e1cece;

        >.icon {
            width: 100%;
            object-fit: contain;
            pointer-events: none;
        }
    }
}