.common-player_report {
    
    >.window {
        width: 420px;

        >.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.section {
                width: 100%;
                align-self: flex-start;
                margin-bottom: 20px;

                &.reported {  
                    width: 100%; 

                    >input { width: 100%; }
                }

                &.description {
                    margin-bottom: 40px;

                    >.text {
                        width: 100%;
                        height: 150px;
                        resize: none;
                    }
                }

                >.title {
                    margin-bottom: 10px;
                }
            }

            >.actions {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }  
    }
}