.common-player_context_menu {
    width: 150px;
    height: 100px;
    position: fixed;
    background-color: #dbd2bf;

    >.content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid black;

        >button { 
            width: 100%;
            height: 25px;
            text-align: center; 
        }
    }
}