.common-save_game_detail {

    >.window {
        >.content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.heroes {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                >.section { width: 50%; }
            }

            .section {
                width: 100%;
                margin-bottom: 20px;
                &:last-of-type { margin-bottom: 40px; }

                >.header {
                    align-self: flex-start;
                    margin-bottom: 10px;
                    font-weight: bold;
                }

                >.scenario { 
                    width: 368px;
                    padding: 5px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border: 1px solid black;
                    border-radius: 10px;
                    box-shadow: black 5px 5px 10px;
                    background: linear-gradient(0deg, rgba(206,214,224,0.85) 0%, rgba(2,0,36,1) 100%);

                    &.nightmare {
                        background: linear-gradient(0deg, rgba(139,0,0,0.85) 0%, rgba(0,0,0,1) 100%);
                    }

                    >img { 
                        width: 100px;
                        object-fit: contain; 
                        filter: drop-shadow(2px 2px 2px black);
                    }

                    >.detail {

                        >.title {
                            text-indent: -20px;
                            padding-left: 20px;
                            text-align: left; 
                        }

                        >.set { 
                            margin-bottom: 10px;
                            color: white;
                            margin-left: 30px;
                        }

                        >.round { 
                            margin-bottom: 5px;
                            color: white; 
                        }

                        >.single_player, >.multiplayer {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            &:not(:last-child) { margin-bottom: 4px; }

                            >.player_count {
                                height: 20px;   
                                width: 26px;
                                margin-right: 5px;
                                object-fit: contain; 
                                filter: drop-shadow(2px 2px 2px black);
                            }

                            >.separator { 
                                margin-left: 5px;
                                margin-right: 5px;
                            }

                            >.ally { color: white; }
                        }
                    }
                }
            }
        }  
    }
}