.common-txat {
    height: 300px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    pointer-events: none;

    &.hidden>.content { display: none; }

    >.handle {
        width: 32px;
        height: 64px;
        position: relative;
        margin-top: 200px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: 1px solid black;
        border-right: none;
        background-color: #e1cece;
        pointer-events: auto;

        >button {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;

            >.icon {
                width: 100%;
                object-fit: contain;
                pointer-events: none;
            }
        }

        >.reminder {
            width: 20px;
            position: absolute;
            bottom: 53px;
            right: 20px;
            object-fit: contain;
            pointer-events: none;
            transform-origin: center;
        }
    }

    >.content {
        height: 100%;
        position: relative;
        border: 1px solid black;
        pointer-events: auto;

        >.top {
            width: 100%;
            height: 275px;
            display: flex;

            >.left {
                width: 300px;
                height: 100%;
                border-right: 1px solid black;
                overflow-wrap: break-word;

                >.tabs {
                    height: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    border-bottom: 1px solid black;
                    background-color: rgba(206, 214, 224, 0.85);

                    >.tab {
                        padding-left: 10px;
                        padding-right: 10px;
                        border-right: 1px solid black;
                        background-color: #dbd2bf;
                        text-align: center;
                        opacity: 0.7;

                        &.selected { 
                            font-weight: bold; 
                            opacity: 1;
                            pointer-events: none;
                        }
                    }
                }

                >.messages {
                    height: 260px;
                    padding: 5px;
                    overflow-x: none;
                    overflow-y: auto;
                    background-color: rgba(225, 206, 206, 0.85);

                    >.system { color: #57606f; }
                    >.private { 
                        color: #3742fa;
                        font-style: italic;
                    }
                    >div {
                        &:not(:nth-of-type(1)) { margin-top: 5px; }

                        >.sender { font-weight: bold; }
                        >.date { font-size: 10px; }
                    }
                }
            }

            >.right {
                width: 140px;
                height: 275px;
                background-color: rgba(219, 210, 191, 0.85);

                >.player_list {
                    height: 255px;
                    overflow-x: none;
                    overflow-y: auto;

                    .item {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding: 5px;

                        &.selected {
                            background-color: #5352ed;
                            color: white;
                        }

                        >div { 
                            pointer-events: none;

                            &.status {
                                width: 7px;
                                height: 7px;
                                margin-right: 5px;
                                border-radius: 50%;
                                border: 1px solid black;
        
                                &.disconnected { background-color: grey; }
                                &.idle { background-color: #2ed573; }
                                &.negotiating_game, &.in_game_room { background-color: #ffa502; }
                                &.playing { background-color: #ff4757; }
                            }

                            &.name { width: 120px; }
                        }
                    }
                }

                >.show_disconnected {
                    height: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    >.title { 
                        margin-left: 5px; 
                        font-size: x-small;
                    }
                }
            }
        }

        >.message {
            width: 100%;
            height: 25px;
        }
    }
}