@import "global/text";
@import "global/popup";


* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0px;
    background-color: black;
    overscroll-behavior-y: contain;
    cursor: url( "../resources/images/cursor/default.png" ), auto !important;

    a, button, input[type="checkbox"], input[type="radio"], label { 
        cursor: url( "../resources/images/cursor/pointer.png" ), auto !important; 
        &:disabled { cursor: url( "../resources/images/cursor/default.png" ), auto !important; }
    }

    .gb-custom_pointer {    
        cursor: url( "../resources/images/cursor/pointer.png" ), auto !important;
    }
}

button {
    width: 120px;
    height: 33px;

    //&:disabled { opacity: 0.6; }
}

input[type="text"], input[type="password"], input[type="number"] {
    height: 35px;
    border: 1px;
    padding: 10px;
    user-select: auto !important; /* for iPad Air compatibility */
}

textarea {
    border: 1px;
    padding: 10px;
}

.gb-panel {
    box-sizing: border-box;
    padding: 20px;
    background-color: #dbd2bf;
    border-radius: 5px;
    border: 2px solid dimgray;
}

.gb-hidden {
    display: none !important;
}

.gb-centered {
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translateX( -50% ) translateY( -50% );
}