.gb-loading-anim-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba( 62, 62, 62, 0.4 );

    &.transparent {
        background-color: transparent;
    }

    &.global {
        position: fixed;
    }

    >.container {
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >.icon {
            width: 75px;
            height: 75px;
            background-image: url( "../resources/images/loading.png" );
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            //filter: drop-shadow( 2px 2px 2px black );
            animation: gb-loading-anim-rotation 4s infinite ease-in-out;
        }

        >.message {
            position: absolute;
            font-style: italic;
            text-align: center;
        }
    }
}

@keyframes gb-loading-anim-rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}