.gateway-account {

    >.window {
        width: 500px;
        min-height: 200px;

        >.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title {
                align-self: flex-start;
                margin-bottom: 20px;
            }

            >.settings {
                width: 100%;
                margin-bottom: 40px;

                >.row {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    &:not(:last-of-type) { margin-bottom: 10px; }

                    >.title {
                        width: 70%;
                    }
                }
            }

            >.back {
                align-self: flex-start;
            }
        }
    }
}