.gateway-dojo {
    width: 600px;
    min-height: 200px;

    >.content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >.gb-panel {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.header {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;

                >.feedback {
                    height: 86px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    >.email {
                        width: 35px;
                        border: none;
                        background-image: url( "./resources/images/gateway/email.png" );
                        background-size: contain;
                        background-color: transparent;
                        background-repeat: no-repeat;
                        background-position: center;
                        filter: drop-shadow(2px 4px 3px black);
                    }
        
                    >.discord {
                        width: 35px;
                        height: 35px;
                        border: none;
                        background-image: url( "./resources/images/gateway/discord.png" );
                        background-size: contain;
                        background-color: transparent;
                        filter: drop-shadow(2px 4px 3px black);
                    }
                }

                >.logo { width: 390px; }

                >.donate_wrapper {
                    position: relative;

                    >.donate>img {
                        height: 86px;
                        filter: drop-shadow(2px 4px 3px black);
                    }

                    >.meow {
                        position: absolute;
                        width: 70px;    
                        bottom: 66px;
                        left: -17px;
                        transform-origin: bottom;
                    }
                }
            }

            >.news {
                width: 100%;
                max-height: 202px;
                margin-bottom: 20px;
                overflow-x: none;
                overflow-y: auto;
                border: 1px solid dimgray;
                background-color: #e1cece;

                >.item {
                    padding: 10px;

                    >.title { margin-bottom: 10px; }

                    >.date {
                        margin-bottom: 20px;
                        font-size: 10px;
                        line-height: 10px;
                    }
                }

                >hr.rounded {
                    width: 90%;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    border-top: 3px solid #bbb;
                    border-radius: 5px;
                }
            }

            >.footer {
                width: 100%;
                margin-bottom: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            >.controls {
                width: 100%;

                >.row {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                }
            }     
        }

        >.play {
            height: 50px;
            margin-top: 30px;
            border-radius: 210px;
        }
    }
}