.gateway-game_room {
    width: 450px;
    min-height: 235px;

    >.content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        >.title {
            width: 100%;
            display: flex;
            margin-bottom: 20px;
            justify-content: space-between;
            
            >.load {
                width: 25px;
                height: 26px;
                border: none;
                background-image: url("./resources/images/game/icon/load.png");
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        >.list {
            width: 100%;
            margin-bottom: 10px;

            >.item {
                height: 40px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid dimgray;

                >.user_id {
                    width: 150px;
                }

                >.deck {
                    width: 120px;
                }

                >.status {
                    width: 10px;
                    height: 10px;
                    border: 1px solid black;
                    border-radius: 50%;

                    background-color: #ff4757;
                    &.ready { 
                        background-color: #2ed573;
                    }
                }
            }
        }

        >.scenario>.item {
            width: 368px;
            height: 110px;
            position: relative;
            margin: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: black 5px 5px 10px;
            background: linear-gradient(0deg, rgba(206,214,224,0.85) 0%, rgba(2,0,36,1) 100%);

            &.nightmare {
                background: linear-gradient(0deg, rgba(139,0,0,0.85) 0%, rgba(0,0,0,1) 100%);
            }

            >.product_icon { 
                width: 100px;
                object-fit: contain; 
                filter: drop-shadow(2px 2px 2px black);
            }

            >.detail {

                >.title { 
                    text-indent: -20px;
                    padding-left: 20px;
                    text-align: left; 
                }

                >.best_score {
                    margin-top: 10px;

                    >.single_player, >.multiplayer {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        &:not(:last-child) { margin-bottom: 4px; }

                        >.player_count {
                            height: 20px;   
                            width: 26px;
                            margin-right: 5px;
                            object-fit: contain; 
                            filter: drop-shadow(2px 2px 2px black);
                        }

                        >.separator { 
                            margin-left: 5px;
                            margin-right: 5px;
                        }
                    }
                }
            }

            >.completed {
                width: 70px;
                object-fit: contain;
                position: absolute;
                bottom: -17px;
                right: -10px;
                filter: drop-shadow(2px 2px 2px black);
            }
        }

        >.campaign {
            display: flex;
            flex-direction: row;
            align-items: center;

            >.text {
                margin-left: 5px;
            }
        }

        >.treasure, >.campaign_log {
            display: flex;
            flex-direction: row;
            align-items: center;

            >.text {
                margin-right: 20px;
            }
        }

        >.campaign_log { margin-top: 10px; }

        >.controls {
            margin-top: 40px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .white { color: white; }
    }
}