.gateway-gateway {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url( "./resources/images/gateway/bg.jpg" );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    >.ambient {
        position: fixed;
        right: 5px;
        top: 5px;
        
        >.toggle {
            width: 30px;
            height: 30px;
            border: none;
            background-size: contain;
            background-color: transparent;
            background-repeat: no-repeat;
            background-image: url( "./resources/images/gateway/tavern_ambient_off.png" );
        }
        &.on>.toggle { background-image: url( "./resources/images/gateway/tavern_ambient_on.png" ); }
        
        >.volume {
            width: 15px;
            height: 15px;
            display: none;
            position: absolute;
            right: -5px;
            bottom: -2px;
            background-image: url( "./resources/images/gateway/tavern_ambient_volume.jpg" );

            >.text { 
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                font-size: 10px;
                pointer-events: none;
            }
        }
        &.on>.volume { display: block; }
    }

    >.version {
        position: fixed;
        left: 5px;
        top: 5px;
        color: white;
    }

    >.disclaimer {
        width: 100%;
        position: fixed;
        bottom: 0px;
        text-align: center;
        color: white;
    }
}