.gateway-login {
    width: 300px;

    >.content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        >.beta {
            position: absolute;
            right: 0px;
            top: 0px;
        }

        >.logo {
            width: 100%;
            margin-bottom: 20px;
        }

        >.username {
            margin-bottom: 20px;
        }

        >.password {
            margin-bottom: 10px;
        }

        >.username, >.password {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            >.title {
                margin-bottom: 10px;
                align-self: flex-start;
            }

            >input {
                width: 100%;
                align-self: flex-start;
            }
        }

        >.remember {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-content: center;
            margin-bottom: 20px;

            >.title { margin-left: 5px; }
        }

        >button.connect {
            align-self: flex-end;
            margin-bottom: 10px;
        }

        >.forgotten {
            width: 100%;
            text-align: right;
            margin-bottom: 20px;

            &:hover {
                text-decoration: underline;
            }
        }

        >.register {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            >.title {
                align-self: flex-end;
                margin-bottom: 10px;
            }

            >button { align-self: flex-end; }
        }

        >hr.rounded {
            width: 100%;
            border-top: 3px solid #bbb;
            border-radius: 5px;
        }
    }
}