.gateway-scenario_selection {
    
    >.window {
        width: 800px;

        >.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >.title { 
                margin-bottom: 20px; 
                align-self: flex-start;
            }

            >.filter {
                width: 100%;
                align-self: flex-start;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;

                >.set { 
                    align-self: flex-start;
                    display: flex;
                    flex-direction: row;

                    >.text { 
                        align-self: center;
                        margin-right: 20px; 
                    }

                    >select {
                        height: 35px;
                        border: 1px;
                        padding: 10px;
                    }
                }

                >.nightmare {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    >.text {
                        margin-left: 5px;
                    }
                }
            }

            >.scenarios {
                width: 100%;
                max-height: 390px;
                box-sizing: content-box;
                display: flex;
                flex-direction: column;
                padding: 10px;
                margin-bottom: 40px;
                overflow-y: auto;
                border: 1px solid dimgray;
                background-color: #e1cece;

                >.row {
                    width: 100%;
                    display: flex;
                    flex-direction: row;

                    >.item {
                        width: 368px;
                        height: 110px;
                        position: relative;
                        margin: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        border: 1px solid black;
                        border-radius: 10px;
                        box-shadow: black 5px 5px 10px;
                        background: linear-gradient(0deg, rgba(206,214,224,0.85) 0%, rgba(2,0,36,1) 100%);

                        &.nightmare {
                            background: linear-gradient(0deg, rgba(139,0,0,0.85) 0%, rgba(0,0,0,1) 100%);
                        }

                        >.product_icon { 
                            width: 100px;
                            object-fit: contain; 
                            filter: drop-shadow(2px 2px 2px black);
                        }

                        >.detail {

                            >.title { 
                                text-indent: -20px;
                                padding-left: 20px;
                                text-align: left; 
                            }

                            >.best_score {
                                margin-top: 10px;

                                >.single_player, >.multiplayer {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    &:not(:last-child) { margin-bottom: 4px; }

                                    >.player_count {
                                        height: 20px;   
                                        width: 26px;
                                        margin-right: 5px;
                                        object-fit: contain; 
                                        filter: drop-shadow(2px 2px 2px black);
                                    }

                                    >.separator { 
                                        margin-left: 5px;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }

                        >.completed {
                            width: 70px;
                            object-fit: contain;
                            position: absolute;
                            bottom: -17px;
                            right: -10px;
                            filter: drop-shadow(2px 2px 2px black);
                        }
                    }
                }
            }

            .white { color: white; }
        }  
    }
}
